
<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://databricks.com/wp-content/uploads/2018/03/db-academy-rgb-1200px.png" alt="Databricks Learning" style="width: 600px">
</div>



# Advanced Pandas Lab

In this lab, we will answer the question: What regions in the US has the highest average total volume of organic avocado sales in 2018?

In [0]:
%run "../Includes/Classroom-Setup"

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

Resetting the learning environment:
| dropping the schema "syarmineshah_gx5q_da_inpy"...(1 seconds)
| removing the working directory "dbfs:/mnt/dbacademy-users/syarmineshah@yahoo.com/introduction-to-python-for-data-science-and-data-engineering"...(0 seconds)

Skipping install of existing datasets to "dbfs:/mnt/dbacademy-datasets/introduction-to-python-for-data-science-and-data-engineering/v01"

Validating the locally installed datasets:
| listing local files...(0 seconds)
| validation completed...(0 seconds total)

Creating & using the schema "syarmineshah_gx5q_da_inpy" in the catalog "spark_catalog"...(1 seconds)

Predefined tables in "syarmineshah_gx5q_da_inpy":
| -none-

Predefined paths variables:
| DA.paths.working_dir: dbfs:/mnt/dbacademy-users/syarmineshah@yahoo.com/introduction-to-python-for-data-science-and-data-engineering
| DA.paths.user_db:     dbfs:/mnt/dbacademy-users/syarmineshah@yahoo.com/introduction-to-python-for-data-science-and-data-engineering/database.db
| DA.paths.datasets:    dbfs:/mnt/dbacademy-datasets/introduction-to-python-for-data-science-and-data-engineering/v01

Setup completed (5 seconds)



First, let's import pandas

In [0]:
%pip install kagglehub
import pandas as pd
import kagglehub
import os

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Requirement already satisfied: kagglehub in /local_disk0/.ephemeral_nfs/envs/pythonEnv-29f64244-e5ad-4449-801d-9fe04f723cda/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: tqdm in /local_disk0/.ephemeral_nfs/envs/pythonEnv-29f64244-e5ad-4449-801d-9fe04f723cda/lib/python3.10/site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: packaging in /databricks/python3/lib/python3.10/site-packages (from kagglehub) (21.3)
Requirement already satisfied: requests in /databricks/python3/lib/python3.10/site-packages (from kagglehub) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /databricks/python3/lib/python3.10/site-packages (from packaging->kagglehub) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /databricks/python3/lib/python3.10/site-packages (from requests->kagglehub) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /databricks/python3/lib/python3.10/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /databricks/python3/lib/python3.10/site-packages (from requests->kagglehub) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /databricks/python3/lib/python3.10/site-packages (from requests->kagglehub) (1.26.11)
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.



## Read CSV

To determine the regions with the highest total volume of average organic avocado sales, we will use the [avocado prices](https://www.kaggle.com/datasets/neuromusic/avocado-prices) dataset. 

We have provided the code to read in the data.

In [0]:
# adjust data import and read due to update on file source
path = kagglehub.dataset_download("neuromusic/avocado-prices")
print(os.listdir(path))
file_name = 'avocado.csv'
file_path = os.path.join(path, file_name)

df = pd.read_csv(file_path).drop("Unnamed: 0", axis=1) # drop unnamed index column from data

['avocado.csv']



## Problem 1: Data Analysis

Now that you have the DataFrame, you're ready to start doing some analysis. Remember the goal is to determine which regions of the US had the highest average total volume of organic avocado sales in 2018. 

Filter for on the **`type`** and **`year`** to find organic sales in 2018, and assign the result to **`filtered_df`**.

In [0]:
# TODO
filtered_df = df[(df["type"] == "organic") & (df["year"] == 2018)]
filtered_df

             Date  AveragePrice  Total Volume  ...     type  year            region
17601  2018-03-25          1.71       2321.82  ...  organic  2018            Albany
17602  2018-03-18          1.66       3154.45  ...  organic  2018            Albany
17603  2018-03-11          1.68       2570.52  ...  organic  2018            Albany
17604  2018-03-04          1.48       3851.30  ...  organic  2018            Albany
17605  2018-02-25          1.56       5356.63  ...  organic  2018            Albany
...           ...           ...           ...  ...      ...   ...               ...
18244  2018-02-04          1.63      17074.83  ...  organic  2018  WestTexNewMexico
18245  2018-01-28          1.71      13888.04  ...  organic  2018  WestTexNewMexico
18246  2018-01-21          1.87      13766.76  ...  organic  2018  WestTexNewMexico
18247  2018-01-14          1.93      16205.22  ...  organic  2018  WestTexNewMexico
18248  2018-01-07          1.62      17489.58  ...  organic  2018  WestTexNewMexico

[648 rows x 13 columns]



<button onclick="myFunction2()" >Click for Hint</button>

<div id="myDIV2" style="display: none;">
  Remember to use & for the and operator when creating the boolean array. df[(bool_array) & (bool_array)]
</div>
<script>
function myFunction2() {
  var x = document.getElementById("myDIV2");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

In [0]:
assert filtered_df.shape == (648, 13), "There are not the correct number of rows or columns"
assert filtered_df["year"].min() == 2018, "Only look at 2018 data"
assert len(filtered_df[filtered_df["type"] == "conventional"]) == 0, "There should be no rows about non-organic avocado sales"
print("Test passed!")

Test passed!



## Problem 2: Find the Regions

Now, use **`filtered_df`** to determine the top 10 region with the highest average total volume of organic avocado sales in 2018. 
* To do this, create a DataFrame using **`filtered_df`** where each row consists of a **`region`** and the mean **`Total Volume`** of organic avocados for that region. 
* Sort that DataFrame in descending order, and keep the first 10 rows 
* Assign the output to the **`final_df`** variable

In [0]:
# ANSWER
final_df = filtered_df.groupby(["region"])[["Total Volume"]].mean().sort_values(["Total Volume"], ascending=False).head(10)
final_df

              Total Volume
region
TotalUS       1.510488e+06
Northeast     3.393384e+05
West          2.549791e+05
GreatLakes    2.206710e+05
California    1.914802e+05
Midsouth      1.829353e+05
SouthCentral  1.430854e+05
NewYork       1.389604e+05
Southeast     1.096506e+05
LosAngeles    1.026283e+05

In [0]:
testing_df = final_df.reset_index() if final_df.index.name == "region" else final_df
assert type(testing_df) == pd.DataFrame, "final_df should be a DataFrame, make sure it is not a Series. If it is a Series, make sure to use [['Total Volume']] instead of ['Total Volume']"
assert (testing_df.columns == ["region", "Total Volume"]).all(), "The only columns should be region and Total Volume. Make sure to use reset_index and that region is not currently the index column"
assert len(testing_df) == 10, "Only return the top 10 rows"
assert testing_df.iloc[0].values[0] == "TotalUS", "TotalUS should be the on the top row"
assert round(testing_df.iloc[0].values[1], 2) == 1510487.83, "TotalUS should have an average Total Volume of around 1510488"
assert testing_df.iloc[9].values[0] == "LosAngeles", "LosAngeles should be the on the 10th row"
assert round(testing_df.iloc[9].values[1], 2) == 102628.31, "LosAngeles should have an average Total Volume of around 102628"
print("Test passed!")

Test passed!

&copy; 2023 Databricks, Inc. All rights reserved.<br/>
Apache, Apache Spark, Spark and the Spark logo are trademarks of the <a href="https://www.apache.org/">Apache Software Foundation</a>.<br/>
<br/>
<a href="https://databricks.com/privacy-policy">Privacy Policy</a> | <a href="https://databricks.com/terms-of-use">Terms of Use</a> | <a href="https://help.databricks.com/">Support</a>