
<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://databricks.com/wp-content/uploads/2018/03/db-academy-rgb-1200px.png" alt="Databricks Learning" style="width: 600px">
</div>



# Advanced Pandas

## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) In this lesson you:
* Explore some more advanced features pandas provides including:
  - Renaming columns
  - Filtering the DataFrame
  - Grouping and aggregation Functions
  - Sorting
  - Imputing columns



For this lesson, we are going to work with datasets. Running the cell below will define and give us access to variables defining the path to our datasets in the Databricks File System.

In [0]:
%run "./Includes/Classroom-Setup"

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

Resetting the learning environment:
| No action taken

Installing datasets:
| from "wasbs://courseware@dbacademy.blob.core.windows.net/introduction-to-python-for-data-science-and-data-engineering/v01"
| to "dbfs:/mnt/dbacademy-datasets/introduction-to-python-for-data-science-and-data-engineering/v01"
|
| NOTE: The datasets that we are installing are located in Washington, USA - depending on the
|       region that your workspace is in, this operation can take as little as 1 min and
|       upwards to 5 min, but this is a one-time operation.
|
| copying 1/3: avocado...(2 seconds)
| copying 2/3: covid...(1 seconds)
| copying 3/3: sf-airbnb...(5 seconds)
|
| completed datasets installation successfully...(8 seconds)

Validating the locally installed datasets:
| listing local files...(0 seconds)
| validation completed...(0 seconds total)

Creating & using the schema "syarmineshah_gx5q_da_inpy" in the catalog "spark_catalog"...(2 seconds)

Predefined tables in "syarmineshah_gx5q_da_inpy":
| -none-

Predefined paths variables:
| DA.paths.working_dir: dbfs:/mnt/dbacademy-users/syarmineshah@yahoo.com/introduction-to-python-for-data-science-and-data-engineering
| DA.paths.user_db:     dbfs:/mnt/dbacademy-users/syarmineshah@yahoo.com/introduction-to-python-for-data-science-and-data-engineering/database.db
| DA.paths.datasets:    dbfs:/mnt/dbacademy-datasets/introduction-to-python-for-data-science-and-data-engineering/v01

Setup completed (31 seconds)



Remember, to access **`pandas`** functionality, we must **`import`** the library first. We do not have to **`pip install pandas`** because we already have it installed.

In [0]:
import pandas as pd



## Reading Data

<img src="https://files.training.databricks.com/images/301/sf.jpg" style="height: 200px; margin: 10px; border: 1px solid #ddd; padding: 10px"/>

So far we have created a DataFrame by manually specifying the rows and columns. Often, we will have a dataset stored as a CSV (comma-separated-value) file. 

**`pandas`** provides a function called [**read_csv(path)**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html), where we provide a path to where our CSV file is stored, and it returns a DataFrame of the contents at that path.

You'll be analyzing data from <a href="http://insideairbnb.com/get-the-data.html" target="_blank">Inside Airbnb</a> to better understand the San Francisco rental market. Let's read in the dataset.

In [0]:
file_path = "https://data.insideairbnb.com/united-states/ca/san-francisco/2024-09-04/data/listings.csv.gz"
df = pd.read_csv(file_path)



To look at the first few records of the dataset, we can call [**head()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html). If you do not specify the number of rows, it defaults to 5 rows.

In [0]:
df.head(3)

                   id  ... reviews_per_month
0            50489368  ...              0.03
1            53687935  ...              0.63
2  623833252305593889  ...              0.57

[3 rows x 75 columns]

## Overview of the data and columns

In [0]:
# Checking the columns within the data
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')



Conversely, we can call [**tail()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html) to look at the last few records.

In [0]:
df.tail(3)

                      id  ... reviews_per_month
7804            27558226  ...               NaN
7805  619605575248018100  ...              1.38
7806             5242394  ...              2.75

[3 rows x 75 columns]



## Renaming Columns

We can rename columns of our DataFrame using [**rename()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html). We pass into columns a dictionary containing the mappings from the old column names to the new ones to the **`columns`** parameter.

Let's rename the **`neighbourhood`** column above to be **`neighborhood`**.

In [0]:
df = df.rename(columns={"neighbourhood": "neighborhood"})
df[["id", "neighborhood"]].head(10)

                   id             neighborhood
0            50489368                      NaN
1            53687935  Neighborhood highlights
2  623833252305593889                      NaN
3            53817024  Neighborhood highlights
4            54381390                      NaN
5  566641223679016306  Neighborhood highlights
6            51508029                      NaN
7  557318953734194464                      NaN
8  565272991337321502  Neighborhood highlights
9            50489340                      NaN



## Filtering

Often, you will want to select a subset of rows that meet a certain criteria, which can be accomplished by specifying: **`df[bool_array]`**, where **`bool_array`** is a **`Series`** of **`True`** and **`False`** values for each row. 

The rows that evaluate to **`True`** are kept, while the ones that evaluate to **`False`** are not. 

Let's filter for all the rows **`host_is_superhost`** is **`"t"`**, meaning the airbnb owner is a superhost.

In [0]:
filtered_df = df[df["host_is_superhost"] == "t"]
filtered_df[["id", "host_is_superhost"]].head(10)

                    id host_is_superhost
1             53687935                 t
2   623833252305593889                 t
3             53817024                 t
6             51508029                 t
7   557318953734194464                 t
8   565272991337321502                 t
9             50489340                 t
10            50623131                 t
11            50623567                 t
12            50623787                 t



Here, **`df["host_is_superhost"] == "t"]`** is our boolean array. Let's take a look at the corresponding **True/False** row indices.

In [0]:
df["host_is_superhost"] == "t"

0       False
1        True
2        True
3        True
4       False
        ...
7802    False
7803    False
7804    False
7805    False
7806     True
Name: host_is_superhost, Length: 7807, dtype: bool



We can also search for all the records where the **`host_is_superhost`** is NOT "t".

In [0]:
df["host_is_superhost"] != "t"

0        True
1       False
2       False
3       False
4        True
        ...
7802     True
7803     True
7804     True
7805     True
7806    False
Name: host_is_superhost, Length: 7807, dtype: bool


 
## Pandas Boolean Operators

Often you will want to evaluate multiple criteria to filter out records. For example, let's select all records where the host is a superhost and the airbnb has at least 150 reviews.

Instead of the normal Boolean operators we have seen previously, we have [bitwise Boolean operators](https://www.w3schools.com/python/gloss_python_bitwise_operators.asp):
* **`and`** -> **`&`**
* **`or`** -> **`|`** 
* **`not`** -> **`~`**

In [0]:
filtered_df = df[(df["host_is_superhost"] == "t") & (df["number_of_reviews"] >= 150)]
filtered_df[["id", "host_is_superhost", "number_of_reviews"]].head(10)

                     id host_is_superhost  number_of_reviews
13   567473810469627436                 t                179
566            30534300                 t                157
828            12679234                 t                298
904            12835527                 t                468
935             3073038                 t                150
947             4663060                 t                524
956            35809668                 t                238
967              140568                 t                151
968              189068                 t                174
969              409549                 t                285


 
## Aggregate Functions

Aggregate functions are functions that take in a series of inputs and return a single output. 

The most common ones that we use in pandas are ones that take in numerical **`Series`** and return a statistic of interest, such as the mean. 

Let's take a look at the mean, min, and max of **`number_of_reviews`**:

In [0]:
print(df["number_of_reviews"].mean())
print(df["number_of_reviews"].min())
print(df["number_of_reviews"].max())

50.334187267836555
0
1239


 
Another useful method is [**describe()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) which provides a report of summary statistics on a given numerical **`Series`**:

In [0]:
df["number_of_reviews"].describe()

count    7807.000000
mean       50.334187
std       106.163371
min         0.000000
25%         1.000000
50%         7.000000
75%        46.000000
max      1239.000000
Name: number_of_reviews, dtype: float64


 
We can also use this method on a DataFrame to see it applied to every numerical column:

In [0]:
df[["number_of_reviews", "host_listings_count", "bedrooms"]].describe()

       number_of_reviews  host_listings_count     bedrooms
count        7807.000000           7807.00000  7351.000000
mean           50.334187            219.89740     1.450143
std           106.163371            822.89027     1.014552
min             0.000000              1.00000     0.000000
25%             1.000000              1.00000     1.000000
50%             7.000000              3.00000     1.000000
75%            46.000000             24.00000     2.000000
max          1239.000000           4499.00000    11.000000


 
Many times, you won't care about the 6th value after the decimal. Let's round our results by calling [**round()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.round.html?highlight=round#pandas.DataFrame.round).

In [0]:
df[["number_of_reviews", "host_listings_count", "bedrooms"]].describe().round(2)

       number_of_reviews  host_listings_count  bedrooms
count            7807.00              7807.00   7351.00
mean               50.33               219.90      1.45
std               106.16               822.89      1.01
min                 0.00                 1.00      0.00
25%                 1.00                 1.00      1.00
50%                 7.00                 3.00      1.00
75%                46.00                24.00      2.00
max              1239.00              4499.00     11.00


 
## Group By

Sometimes we will want to see the results of an aggregate function per category in a non-numerical column. 

For example, say we wanted to see the average number of bedrooms per neighborhood.

In order to do this we first use the [**groupby([columns])**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method and specific the category we want to group by. In this case, let's group by **`neighborhood`**.

In [0]:
df.groupby(["neighborhood"])


 
Then we apply the aggregate function of interest. In this case, **`mean()`** to the column of interest, in this case **`bedrooms`**.

**Note:** Here we use **`[["bedrooms"]]`** to select for bedrooms because we could add other columns in addition to bedrooms.

In [0]:
grouped_df = df.groupby(["neighborhood"])[["bedrooms"]].mean().head(10)
grouped_df

                         bedrooms
neighborhood
Neighborhood highlights   1.46436


 
# Reset Index

DataFrames always have some sort of index, which we've seen displayed as the leftmost column in the examples above. By default, they are numbers, but many operations can change those indices to something else. In the example above, **`neighborhood`** became the index rather than a column. We can see that if we print out the columns.

In [0]:
grouped_df.columns

Index(['bedrooms'], dtype='object')


Sometimes, resetting the index back to its default integer sequence is desirable. Some cases where this might be useful include:
* Eliminating duplicates in the current index
* Transforming the current index into a column so that you can include those values in columnar computations or transformations
* Making the index consistent and contiguous following an operation that altered the DataFrames shape or structure
 
To reset the index, use [**reset_index()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html).

In [0]:
reset_df = grouped_df.reset_index()
reset_df

              neighborhood  bedrooms
0  Neighborhood highlights   1.46436


 
## Sorting

Pandas provides a [**sort_values()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) method to sort the rows in a **`DataFrame`** or **`Series`**.

If called on a **`DataFrame`** you need to specify which column you are sorting by like this **`df.sort_values([col])`**

In [0]:
sorted_df = df.sort_values(["bedrooms"])
sorted_df[["id","bedrooms"]].head(10)

            id  bedrooms
5043  51104324       0.0
670   23582186       0.0
671   23827577       0.0
672   23924310       0.0
673   23963479       0.0
674   24334963       0.0
675   24497818       0.0
676   24698383       0.0
677   24944439       0.0
678   24944867       0.0


 
If applied to a **`Series`** there is only one column, so you don't need to specify:

In [0]:
df["bedrooms"].sort_values()

5043    0.0
670     0.0
671     0.0
672     0.0
673     0.0
       ...
7766    NaN
7767    NaN
7768    NaN
7770    NaN
7804    NaN
Name: bedrooms, Length: 7807, dtype: float64


 
By default **`sort_values()`** sorts in ascending order. You can specify the **`ascending=False`** parameter to change it to descending order.

In [0]:
df["bedrooms"].sort_values(ascending=False)

6162    11.0
7101    10.0
7047     9.0
2465     9.0
3820     8.0
        ...
7766     NaN
7767     NaN
7768     NaN
7770     NaN
7804     NaN
Name: bedrooms, Length: 7807, dtype: float64


 
# NaN 

You might have noticed that our **`DataFrame`** contains NaN values. These indicate a missing value. 

We have a few ways we can handle missing values. Often having these values present causes problems for computational tasks.

First, we can check using the [**isna()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html#pandas.DataFrame.isna) method, alias for [**isnull()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html#pandas.DataFrame.isnull), and the **`sum()`** method to count the number of NaN values present.

In [0]:
nan_df = df[["security_deposit", "notes"]] # subset of columns with NaNs
nan_df

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File <command-806331027783958>, line 1
----> 1 nan_df = df[["security_deposit", "notes"]] # subset of columns with NaNs
      2 nan_df

File /databricks/python/lib/python3.10/site-packages/pandas/core/frame.py:3511, in DataFrame.__getitem__(self, key)
   3509     if is_iterator(key):
   3510         key = list(key)
-> 3511     indexer = self.columns._get_indexer_strict(key, "columns")[1]
   3513 # take() does not accept boolean indexers
   3514 if getattr(indexer, "dtype", None) == bool:

File /databricks/python/lib/python3.10/site-packages/pandas/core/indexes/base.py:5796, in Index._get_indexer_strict(self, key, axis_name)
   5793 else:
   5794     keyarr, indexer, new_indexer = self._reindex_non_unique(keyarr)
-> 5796 self._raise_if_missing(keyarr, indexer, axis_name)
   5798 keyarr = self.take(indexer)
   5799 if isinstance(key, Index):
   5800     # GH 42790 - Preserve name from an Index

File /databricks/python/lib/python3.10/site-packages/pandas/core/indexes/base.py:5856, in Index._raise_if_missing(self, key, indexer, axis_name)
   5854     if use_interval_msg:
   5855         key = list(key)
-> 5856     raise KeyError(f"None of [{key}] are in the [{axis_name}]")
   5858 not_found = list(ensure_index(key)[missing_mask.nonzero()[0]].unique())
   5859 raise KeyError(f"{not_found} not in index")

KeyError: "None of [Index(['security_deposit', 'notes'], dtype='object')] are in the [columns]"

In [0]:
nan_df.isna().sum()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-806331027783959>, line 1
----> 1 nan_df.isna().sum()

NameError: name 'nan_df' is not defined


 
## Dropping NaN

One way you can handle NaN is to drop all rows that have NaN values. We can use the [**dropna()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) method to do that.

In [0]:
nan_df.dropna()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-806331027783961>, line 1
----> 1 nan_df.dropna()

NameError: name 'nan_df' is not defined


 
### Impute Columns

However, we are throwing away a lot of information when we drop records - in the example above, we removed over 3000 rows.

Instead of dropping rows with missing values, we can impute the missing values using [**fillna()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) and specifying a default value to use.

In [0]:
nan_df.fillna("Missing")

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-806331027783963>, line 1
----> 1 nan_df.fillna("Missing")

NameError: name 'nan_df' is not defined


 
Oftentimes, we want to impute different values to different columns. For example, with `numeric` values, we can impute with the mean/median/etc. For `categorical` features, imputing with the mode or a special category are common.

Let's instead specify that **`security_deposit`** is `$0.00` if it is missing. We can pass in a dictionary to **`fillna()`** that has column names as the key and the value to impute the column with as the value. 

You can optionally specify **`inplace=True`** if you want to update the underlying DataFrame.

In [0]:
nan_df.fillna({"security_deposit": "$0.00", "notes": "Missing"}, inplace=False)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-806331027783965>, line 1
----> 1 nan_df.fillna({"security_deposit": "$0.00", "notes": "Missing"}, inplace=False)

NameError: name 'nan_df' is not defined


 
## Write to CSV

We can write a **`pandas`** DataFrame to a CSV file as shown below using the [**to_csv()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) method.

In [0]:
file_path = DA.paths.working_dir.replace("dbfs:", "/dbfs") + ".csv"
df.to_csv(file_path, index=False)


 
We can then read our csv file back in with **`read_csv`**.

In [0]:
load_df = pd.read_csv(file_path)
load_df.head()

&copy; 2023 Databricks, Inc. All rights reserved.<br/>
Apache, Apache Spark, Spark and the Spark logo are trademarks of the <a href="https://www.apache.org/">Apache Software Foundation</a>.<br/>
<br/>
<a href="https://databricks.com/privacy-policy">Privacy Policy</a> | <a href="https://databricks.com/terms-of-use">Terms of Use</a> | <a href="https://help.databricks.com/">Support</a>