
<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://databricks.com/wp-content/uploads/2018/03/db-academy-rgb-1200px.png" alt="Databricks Learning" style="width: 600px">
</div>



# Pandas

**<a href="https://pandas.pydata.org/pandas-docs/stable/reference/index.html" target="_blank">Pandas</a>** is a popular Python library among data scientists with high performing, easy-to-use data structures and data analysis tools.

## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) In this lesson you:<br>
* Explain what **`pandas`** is and why it's so popular
* Create and manipulate **`pandas`** **`DataFrame`** and **`Series`**
* Perform operations on **`pandas`** objects

First, let us import **`pandas`** with the alias **`pd`** so we can refer to the library without having to type **`pandas`** out each time. **`pandas`** is pre-installed on Databricks.

In [0]:
import pandas as pd



#### Why `pandas`?

* More and more, data is leading decision making.
* Excel is great but what if...
  - You want to automate your analysis so it re-runs on new data each day?
  - You want to build a code base to share with your colleagues?
  - You want more robust analyses to feed a business decision?
  - You want to do machine learning?
* **`pandas`** is one of the core libraries used by data analysts and data scientists in Python.



## `DataFrame`

We have seen how different data types provide different kinds of data and functionality. 

**`pandas` is a library that provides data types and functions that allows us to do rigorous, programmatic data analysis.** 
- The core **`pandas`** data type is called a **`DataFrame`**.

A [**DataFrame**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) is a two dimensional table of named rows and columns, similar to a SQL table. 

- The **`DataFrame`** class has a **`data`** attribute for the data in the table that we have to define when we instantiate a **`DataFrame`** object.

Let's say we want to make the following table into a **`DataFrame`**:

| Name    | Age | Job|
| ----------- | ----------- | ----------- | 
| John   | 30    | Journalist |
| Mary    | 30       | Programmer |
| Abe     | 40       | Chef |

One way to do this is to create a list of lists where each list in the list represents a row of data:

In [0]:
data = [["John", 30, "Journalist"], ["Mary", 30, "Programmer"], ["Abe", 40, "Chef"]]

df = pd.DataFrame(data=data)
df

,0,1,2
0,John,30,Journalist
1,Mary,30,Programmer
2,Abe,40,Chef


As you can see, we have a list of lists called **"data"** where each inner list represents a row of data with three elements specifying a name, age, and job title. We then instantiate a **`DataFrame`** based on that data.

Recall that we create an object of a custom class like **`object = Class()`**. Since **`DataFrame`** is defined in **`pandas`** we use **`pd.DataFrame()`**.



### Adding Column Names

The 0, 1, 2 column names above are default values. To specify the column names we want, **`DataFrame`** has another attribute: **`columns`**

In [0]:
cols = ["Name", "Age", "Job"]
df = pd.DataFrame(data=data, columns=cols)
df

,Name,Age,Job
0,John,30,Journalist
1,Mary,30,Programmer
2,Abe,40,Chef



## `Series`

The other main data type that **`pandas`** provides is the [**Series**](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

A **`Series`** is just one column of the **`DataFrame`**.

We can select a **`Series`** in two ways:

1. **`df["column_name"]`**
2. **`df.column_name`**

Let's select the **`Age`** column below:

In [0]:
df["Age"]

Out[4]: 0    30
1    30
2    40
Name: Age, dtype: int64

In [0]:
df.Age

Out[5]: 0    30
1    30
2    40
Name: Age, dtype: int64


Here we see two approaches:
* indexing (normally associated with lists), and 
* attribute reference

These operations have implementations in DataFrames to simplify searching and matching of columns. It is preferred to use **`df["column_name"]`** to access a column, because the **`df.column_name`** notation does not work well when there are spaces in the column names.



## dtypes

If you look at the **`Series`** object above you can see **`dtype: int64`**. 

In **`pandas`** *dtypes*, which is an abbreviation for data types, refers to the type of the values in the column. 

We will next look at some of the methods and functionality that **`DataFrame`** and **`Series`** provide, but much like how object types determine what you can do with them, the [**dtype**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html) of a column determines what functionality we can do with it.

For example, we can take the average of a numeric column, but not a non-numeric one. 

The **`dtypes`** of columns are specific to **`pandas`**, but the most common ones are very similar to the built-in Python types:

1. **`object`** is just text, which is similar to strings
2. **`int64`** are integers
3. **`float64`** are float
4. **`bool`** are boolean


We can view the **`dtypes`** of every column in our **`DataFrame`** by accessing its **`dtypes`** attribute:



## `Series` Operations

We can use operations on **`Series`** of a certain dtype that are similar to the operations we can do with the dtype's similar built-in counterpart. 

These operations act element-wise. 

For example, we can add **`int64`** **`Series`** similarly to how we can add integer values in Python.

In [0]:
df["Age"] + df["Age"]

Out[6]: 0    60
1    60
2    80
Name: Age, dtype: int64



We can use all basic integer operations here:

In [0]:
df["Age"] * 3 - 1

Out[7]: 0     89
1     89
2    119
Name: Age, dtype: int64



#### Selecting a value from a **`Series`**

Sometimes we will want to pull out a value in a **`Series`**. We can index into a **`Series`** similar to how we index into a list to pull out values:

In [0]:
df["Age"][0]

Out[8]: 30



## Selecting a Subset of Columns

We have seen how to select a given column as a **`Series`**.

We can also select a subset of columns as a **`DataFrame`**.

We can select a subset of columns like this:

**`df[[col_1, col_2, col_3, ...]]`**

Let's select only the Name and Age columns:

In [0]:
df[["Name", "Age"]]

,Name,Age
0,John,30
1,Mary,30
2,Abe,40


## Mutability of DataFrame objects

When performing operations that modify a DataFrame, a new object is returned by default, leaving the original intact. Consider the following operation.

In [0]:
df.drop("Age", axis=1)

,Name,Job
0,John,Journalist
1,Mary,Programmer
2,Abe,Chef


Here, we're dropping the **`Age`** column and displaying the result. This result is a new object that is promptly forgotten since we haven't stored it in a variable for later use, using a pattern like **`new_df = df.drop(...)`**.

The following proves the original DataFrame **`df`** has not been modified.

In [0]:
df

,Name,Age,Job
0,John,30,Journalist
1,Mary,30,Programmer
2,Abe,40,Chef


This behavior is generally desirable since it makes coding and maintaining complex pipelines easier. However, sometimes it's convenient to modify the DataFrame in place, which can be done using the **`inplace`** parameter as follows.

In [0]:
df.drop("Age", axis=1, inplace=True)

In this instance, no new object has been returned. Let's demonstrate that the result has been applied to the original DataFrame.

In [0]:
df

,Name,Job
0,John,Journalist
1,Mary,Programmer
2,Abe,Chef

&copy; 2023 Databricks, Inc. All rights reserved.<br/>
Apache, Apache Spark, Spark and the Spark logo are trademarks of the <a href="https://www.apache.org/">Apache Software Foundation</a>.<br/>
<br/>
<a href="https://databricks.com/privacy-policy">Privacy Policy</a> | <a href="https://databricks.com/terms-of-use">Terms of Use</a> | <a href="https://help.databricks.com/">Support</a>